numpy==1.19.1
scipy==1.5.2
cython
h5py==2.10
pandas==1.1.0
PyMySQL==0.10.0
seaborn==0.10.1
scikit-learn

cryptography==3.0
flask~=1.1.2
flask-restful
flask-mysql
flask-cors
sklearn

# tensorflow-gpu==2.9.3
tensorflow-gpu==2.9.3